@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Roboto Slab";

}


nav{
    padding-top: 30px;
    padding-left: 80px;
    padding-right: 60px;
}

nav img{
    width: 70px;
}

.section-1{
    padding-bottom: 106px;
}

.section-1 .section-1-header{
    display: flex;
    padding-top: 60px;
    padding-left: 80px;
    padding-right: 60px;
}

.section-1 .section-1-header .section-1-items{
    display: flex;
    align-items: center;
    gap: 5px;
}

.section-1 .section-1-cards{
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 140px;
}

.section-1 .section-1-cards .left-card{
    width: 35%;
}

.section-1 .section-1-cards .left-card h1{
    font-size: 80px;
    padding-top: 30px;
    padding-bottom: 5px;
}
.section-1 .section-1-cards .left-card p{
    font-size: 20px;
    
}



.section-2{
    display: flex;
    justify-content: center;
    padding-bottom: 173px;
}

.section-2 .blue-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 483.635px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #1E4681;
}


.section-2 .blue-card p{
    color: #FFF;
}


.section-2 .blue-card .p-1{
    width: 430.589px;
    height: 113px;
    flex-shrink: 0;
    font-size: 25px;
}
.section-2 .blue-card .p-2{
    width: 450px;
    flex-shrink: 0;
    text-align: right;
    font-size: 20px;
}


.section-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 60px;
    padding-bottom: 178px;
}

.section-3 .left-section h1{
    width: 365px;
    height: 93px;
    flex-shrink: 0;
    color: #000;
    font-size: 55px;
    font-weight: 700;
}

.section-3 .left-section p{
    width: 662px;
    height: 374px;
    flex-shrink: 0;
    color: #000;
    font-size: 24px;
    font-family: "Roboto";
}


.section-4{
    display: flex;
    align-items: center;
    padding-left: 80px;
    padding-right: 60px;
    margin-bottom: 178px;
}


.section-4 img{
    padding-right: 132px;
}

.section-4 .text-block{
    width: 150px;
    height: 39px;
    margin-right: 95px;
    font-family: "Roboto";
}


.section-4 .text-block .p-1{
    color: #000;
    font-size: 25px;
    font-weight: 700;
}
.section-4 .text-block .p-2{
    color: #000;
    font-size: 18px;
    font-weight: 400;
}


.section-5{
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    padding-right: 60px;
    margin-bottom: 250px;
}

.section-5 h1{
    color: #000;
    font-size: 55px;
    font-weight: 700;
    line-height: 101.385%;
    margin-bottom: 89px;
}

.section-5 .text-block-container{
    display: flex;
    gap: 122px;
    font-family: "Roboto";
}




.section-5 .text-block-container .text-block .p-1{
    height: 39px;
    flex-shrink: 0;
    color: #1E4681;
    font-size: 25px;
    font-weight: 700;
    
}
.section-5 .text-block-container .text-block .p-2{
    width: 223px;
    height: 39px;
    flex-shrink: 0;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 130%;
    
}


.section-6{
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    padding-right: 60px;
    padding-bottom: 185px;
    
}

.section-6 h1{
    width: 667px;
    height: 93px;
    flex-shrink: 0;
    color: #000;
    font-size: 55px;
    font-weight: 700;
    line-height: 101.385%; /* 55.762px */
    margin-bottom: 21px;
}


.section-6 ul{
    height: 374px;
    flex-shrink: 0;
    color: #000;
    font-size: 24px;
    font-weight: 400;
    font-family: "Roboto";
    padding-left: 10px;
}

.section-6 ul li{
    width: 80vh;
    line-height: 150%; /* 36px */


}

.section-7{
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    padding-right: 60px;
    padding-bottom: 185px;
}

.section-7 h1{
    width: 905px;
    height: 93px;
    flex-shrink: 0;
    color: #000;
    font-family: 'Roboto Slab';
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: 101.385%; /* 55.762px */
    margin-bottom: 95px;
}


.section-7 .card-container{
   
    flex-shrink: 0;
    display: flex;
    gap:37px;
    flex-wrap: wrap;
    background: #FFF;
}

.section-7 .card-container .card{
    width: 399px;
    height: 328px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.section-7 .card-container .card .p-1{
    width: 365px;
    height: 39px;
    flex-shrink: 0;
    color: #000;
    font-family: "Roboto";
    font-size: 30px;
    font-weight: 700;
    line-height: 130%; /* 39px */
    margin-top: 11px;
    margin-left: 20px;
    margin-bottom: 32px;
}
.section-7 .card-container .card .p-2{
    width: 365px;
    height: 63px;
    flex-shrink: 0;
    color: #000;
    font-family: "Roboto";
    font-size: 25px;
    font-weight: 400;
    line-height: 130%; /* 32.5px */
    margin-top: 11px;
    margin-left: 20px;
}



.section-8{
    flex-shrink: 0;
    background: #EFEFEF;
    padding-top: 91px;
    padding-left: 122px;
    padding-bottom: 111px;
}


.section-8 h1{
    margin-bottom: 50px;
    flex-shrink: 0;
    color: #000;
    font-family: "Roboto Slab";
    font-size: 55px;
    font-weight: 700;
    line-height: 101.385%; /* 55.762px */
}

.section-8 .card{
    padding-top: 40px;
    padding-left: 45px;
    padding-right: 46px;
    width: 791px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.25);
}

.section-8 .card .p-1{
    flex-shrink: 0;
    color: #000;
    font-family: "Roboto";
    font-size: 20px;
    line-height: 150%; /* 30px */
}

.section-8 .card div {
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    margin-bottom: 68px;
}

.section-8 .card div div{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.section-8 .card div div p{
    margin-top: 40px;
    flex-shrink: 0;
    color: #000;
    font-size: 30px;
    font-weight: 700;
}


.section-9{
    flex-shrink: 0;
    background: #9DC9C8;
    padding-top: 179px;
    padding-left: 122px;
}


.section-9 h1{
    flex-shrink: 0;
    color: #000;
    font-size: 55px;
    font-weight: 700;
    line-height: 101.385%; /* 55.762px */
    margin-bottom: 54px;
}

.section-9 .p-1{
    margin-bottom: 7px;
    flex-shrink: 0;
    color: #000;
    font-family: "Roboto";
    font-size: 25px;
    line-height: 101.385%; /* 25.346px */
}
.section-9 .p-2{
    margin-bottom: 150px;
    flex-shrink: 0;
    color: #000;
    font-family: "Roboto";
    font-size: 80px;
    line-height: 101.385%; /* 81.108px */
}


.section-9 .span-elements{
    display: flex;
    flex-wrap: wrap;
    gap:70px;
}

.section-9 .span-elements .el{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.section-9 .span-elements .el .p-1{
    flex-shrink: 0;
    color: #000;
    font-family: "Roboto";
    font-size: 25px;
    line-height: 101.385%; /* 25.346px */
}


.section-9 .span-elements .el .p-2{
    width: 294px;
    flex-shrink: 0;
    color: #000;
    font-family: "Roboto";
    font-size: 18px;
    line-height: 101.385%; /* 18.249px */
}



footer{
    background-color: #000000;
    padding-bottom: 30px;
}

footer .footer-section{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
}

footer .footer-section .left-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
footer .footer-section .left-section img{
    width: 70px;
}
footer .footer-section .left-section ul{
    display: flex;
    gap: 10px;
    width: 5px;
}

footer .footer-section .right-section{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

footer .footer-section .right-section ul{
    display: flex;
    gap: 15px;
    align-items: center;
}

footer .footer-section .right-section p{
    color: #ffffff;
}

footer .end-section{
    color: #ffffff;
    padding-left: 100px;
    margin-top: 170px;
}




@media screen and (max-width:834px) {
    .section-1-cards{
        flex-direction: column;
        gap: 20px;
    }
    .section-3{
        flex-direction: column;
        gap: 20px;
    }
    .section-1 .section-1-header .section-1-items{
        font-size: 10px;
    }
    .section-1 .section-1-header img{
        width: 10px;
    }

    .section-1 .section-1-cards .left-card{
        width: 100%;
        align-items: center;
        font-size: 12px;
    }
    .section-3 .left-section{
        width: 100%;
        align-items: center;
        font-size: 12px;
    }
    .section-1-cards .right-card img{
        width: 250px;
    }

    .section-4 {
        flex-direction: column;
        gap: 150px;
    }
    .section-5 .text-block-container {
        flex-direction: column;
        align-items: center;
        gap: 150px;
    }

    .section-8 .card{
        width: auto;
        align-items: center;
        margin: 0 auto;
        padding: 20px;
        margin-left: 60px;
        font-size: 12px;
        border-radius: 30px;
        margin-top: 50px;
        margin-bottom: 100px;
    }


    .footer-section{
        flex-direction: column;
    }

    .footer-section .left-section ul img{
        width: 20px;
    }

    .footer-section img{
        width: 20px;
    }

    .footer-section .right-section{
        gap: 2px;
        margin-top: 100px;
    }

}